@page "/participantDashboardLogin/"

@inject NavigationManager NavigationManager;
@inject DialogService DialogService;   

<h3>Login</h3>

<RadzenTemplateForm Data=@("SimpleLogin") Action="" Style="width: 50%;">
    <RadzenLogin AllowResetPassword="false" Login="args => OnLogin(args)" Register=@(args => OnRegister()) />
</RadzenTemplateForm>

@code {


    class User
    {

        public string Name { get; set; }
        public string Username { get; set; }
        public string Password { get; set; }
        public string RPassword { get; set; }
    }
    User user = new User();

    void OnLogin(LoginArgs args)
    {
        NavigationManager.NavigateTo($"/participantDashboard/{args.Username}");

    }


    async void OnRegister()
    {
        await DialogService.OpenAsync("Register", ds =>

    //can add any other fields required. if the validator had diff req, there are other available
    @<div>
        <RadzenTemplateForm TItem="User" Data="@user" Submit=RegisterUser>
            <RadzenFieldset Text="Personal information">
                <div style="margin:25px;">
                    <RadzenTextBox @bind-Value="@user.Name" Placeholder="Name" Name="Name" Class="w-100" />
                    <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=true Style="position: absolute" />
                </div>
                <div style="margin:25px;">
                    <RadzenTextBox @bind-Value="@user.Username" Name="Username" Placeholder="Username" Class="w-100" />
                    <RadzenRequiredValidator Component="Username" Text="Username is required" Popup=true Style="position: absolute" />
                </div>
                <div style="margin:25px;">
                    <RadzenPassword @bind-Value="@user.Password" Name="Password" Placeholder="Enter password" Class="w-100" />
                    <RadzenRequiredValidator Component="Password" Text="Password is required" Popup=true Style="position: absolute" />
                </div>
                <div style="margin:25px;">
                    <RadzenPassword @bind-Value="@user.RPassword" Name="RPassword" Placeholder="Confirm password" Class="w-100" />
                    <RadzenRequiredValidator Component="RPassword" Text="Confirm Password is required" Popup=true Style="position: absolute" />
                    <RadzenCompareValidator Value=@user.Password Component="RPassword" Text="Passwords should be the same" Popup=true Style="position: absolute" />
                </div>
                <RadzenButton ButtonType="ButtonType.Submit" Style="margin: 25px;" Text="Submit" />
            </RadzenFieldset>
        </RadzenTemplateForm>
    </div>);

    }
    void RegisterUser()
    {
        // validation already done

        //reigster the user

        //go to next page
        Console.WriteLine($"{user.Password} + {user.RPassword}");
        NavigationManager.NavigateTo($"/participantDashboard/{user.Username}");


    }

}
