@page "/participantDashboard/{participantID}"
@using Radzen.Blazor;
@using schedulesUnitedHosted.Shared;
@inject DialogService DialogService;
@implements IDisposable;
@inject HttpClient Http;
@inject NavigationManager NavigationManager;

<h3>Participant Dashboard</h3>

<RadzenCard>
    <h3>Not Yet Responded</h3>
    <RadzenDataList WrapItems="true" LoadData="@LoadData" @ref=@dataList AllowPaging="true" Data="@surveys" TItem="Survey" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
        <Template Context="survey">
            <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 p-3 product-title">
                            @(survey.name)
                        </div>
                        <div class="col-lg-7 p-3">
                            <div class="row d-flex">
                                <div class="col-md-6 col-lg-2">
                                    <h5 class="mb-0">Host</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.host)</p>
                                </div>
                                <!--<div class="col-md-6 col-lg-2">
                                    <h5 class="mb-0">DateType</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.dateType)</p>
                                </div>-->
                                @*<div class="col-md-6 col-lg-5">
                                    <h5 class="mb-0">Start</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.start)</p>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <h5 class="mb-0">End</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.end)</p>
                                </div>*@
                                <div class="col-md-6 order-first order-lg-last col-lg-3 text-sm-left text-lg-right mb-3 mb-lg-0">
                                    <h5 class="mb-0">Responses</h5>
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Class="price-badge" Text=@(survey.Responses.Count.ToString()) />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 p-3">
                            <RadzenButton Text="Respond" Click="@(args => OnClick(survey))" Class="w-100" />
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
    <h3>Responded Surveys</h3>
    <RadzenDataList WrapItems="true" LoadData="@LoadData" @ref=@dataListResp AllowPaging="true" Data="@surveysResp" TItem="Survey" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
        <Template Context="survey">
            <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 p-3 product-title">
                            @(survey.name)
                        </div>
                        <div class="col-lg-7 p-3">
                            <div class="row d-flex">
                                <div class="col-md-6 col-lg-2">
                                    <h5 class="mb-0">Host</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.host)</p>
                                </div>
                                <!--<div class="col-md-6 col-lg-2">
                                    <h5 class="mb-0">DateType</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.dateType)</p>
                                </div>-->
                                <div class="col-md-6 col-lg-5">
                                    <h5 class="mb-0">Start</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.start)</p>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <h5 class="mb-0">End</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.end)</p>
                                </div>
                                <div class="col-md-6 order-first order-lg-last col-lg-3 text-sm-left text-lg-right mb-3 mb-lg-0">
                                    <h5 class="mb-0">Responses</h5>
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Class="price-badge" Text=@(survey.Responses.Count.ToString()) />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</RadzenCard>


<style>
    .product-title {
        min-height: 72px;
        color: #da0074;
        background-color: rgba(255, 41, 155, .1);
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .price-badge {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px;
    }
</style>

@code {


    [Parameter]
    public string ParticipantID { get; set; }
    RadzenDataList<Survey> dataList;
    RadzenDataList<Survey> dataListResp;


    IList<Survey> surveys = new List<Survey>();
    IList<Survey> surveysResp = new List<Survey>();



    async Task<string> GetHost(int id)
    {
        User respUser = await Http.GetFromJsonAsync<User>($"info/{id}");
        return respUser.username;
    }

    public async Task OnClick(Survey survey)
    {
        //take id to next page
        //NavigationManager.NavigateTo($"/responsePage/{surveyId}");
        await DialogService.OpenAsync<ResponsePage>($"Name {survey.name}",
               new Dictionary<string, object>() { { "survey", survey.id }, {"partID", ParticipantID } },
               new DialogOptions() { Width = "100%", Height = "100%", Resizable = true, Draggable = true });
    }

    async Task LoadData(LoadDataArgs args)
    {
    }

    async protected override void OnInitialized()
    {
        //function to get surveys
        DialogService.OnOpen += Open;
        DialogService.OnClose += Close;


        try
        {
            int respUser = await Http.GetFromJsonAsync<int>($"user/id/{ParticipantID}");


            var notRespSurveys = await Http.GetFromJsonAsync<List<int>>($"survey/invited/nonresponded/{respUser}");

            foreach (int notRespSurvey in notRespSurveys)
            {
                var sur = await Http.GetFromJsonAsync<Survey>($"survey/survey/{notRespSurvey}");

                surveys.Add(sur);
            }

            var respSurveys = await Http.GetFromJsonAsync<List<int>>($"survey/invited/responded/{respUser}");

            foreach (int respSurvey in respSurveys)
            {
                var sur = await Http.GetFromJsonAsync<Survey>($"survey/survey/{respSurvey}");
                surveysResp.Add(sur);
            }

            await dataList.Reload();
            await dataListResp.Reload();

            //Console.WriteLine(resp);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message + "\n" + ex.StackTrace);
        }
    }


    public void Dispose()
    {
        // The DialogService is a singleton so it is advisable to unsubscribe.
        DialogService.OnOpen -= Open;
        DialogService.OnClose -= Close;
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
    }

    void Close(dynamic result)
    {
    }



}
