@page "/dbtester"
@using schedulesUnitedHosted.Shared
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<h1>DB Connection Test</h1>

<p>This component tests connecting, getting, and sending data to the DB.</p>

@if (resp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@resp</em></p>
}
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string resp;
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            resp = await Http.GetFromJsonAsync<String>("DB");
        }
        catch (Exception e)
        {
            resp = e.Message + "\n" + e.StackTrace;
        }
        try
        {
            forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message + "\n" + e.StackTrace);
        }
    }

}

